


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;

}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(login.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 500px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* background: rgba(255, 255, 255, 0.3); */
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    /* color: #3c00a0; */
    color: #e3e0e9;
    margin-bottom: 60px;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background: #e3e0e9;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    
}

.input-field i{
    color: #999;
    margin-left: 15px;
}

.allBtnsDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.allBtns{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    border-radius: 20px;
    padding:15px 0 15px 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.3s;
}

.allBtns:hover{
    background-color: #fff;
    color: #3d0597;
    border: 2px solid #3c00a0;
    font-weight: 600;
}

.allBtnsDiv input:nth-child(2){
    background: #eaeaea;
    color: #3d0597;
    font-weight: 600; 
}

